{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>LOGIN</title>
</head>
<body>
    <h2>LOGIN</h2>

    <form method="post">
        
        {% csrf_token %}
        <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="mb-3">
            {{ form.password.label_tag }}
            {{ form.password }}
        
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <p>Não tem uma conta? <a href="{% url 'cadastrar_usuario' %}">Cadastre-se aqui</a>.</p>
</body>